.Container {
    margin-left: 200px;
}

@media screen and (max-width: 900px) {
    .Container {
        margin-left: 100px;
    }
}
@media screen and (max-width: 600px) {
    .Container {
        margin: 0 auto 60px;
    }
}
