.Sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #3f0e40;
  color: white;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .Sidebar {
    width: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .Sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3f0e40;
    color: white;
    text-align: center;
  }
}
